header
{
    padding: 15px;
    transition: .5s;
    border-bottom: rgba(1,1,1,.4) solid 1px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(1,1,1,.4);
}

i
{
    padding: 5px;
}

nav
{
    display: inline;
}

div
{
    display: inline;
    text-align: right;
}

header:hover
{
    font-size: 17px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

a#logout:hover
{
    cursor: pointer;
}

a#logout
{
    float: right;
    font-weight: bolder;
    font-size: 20px;
}
div#alert
{
    text-align: center;
}
a#menu:hover
{
    cursor: pointer;
}
a#menu
{
    margin-right: 10px;
    margin-left: -10px;
    font-size: 20px;

}