
<header class="fixed-top">
        <nav class="navbar navbar-light bg-white">
            <a id="menu">
                <i (click)="menu.toggle()" class="fa fa-bars">
                    <app-menu #menu (click)="menu.toggle()" ></app-menu>
                </i>

            </a>
            <div id ="header">
                <a class="navbar-brand" href="">
                    ALURAPIC</a>

                <div *ngIf="(user$ | async) as user; else login"> 
                    <!--aqui, ele transforma o observable user$ num user-->
                    <i class="fa fa-user"></i>
                    <a>{{user.name}}</a>
                    <a id='logout' (click)=' logout()'>Logout</a>
                </div>
                <ng-template #login>
                    <span class="navbar-text">
                        Please, <a href="">login</a>
                    </span>
                </ng-template>
            </div>
       </nav>
        <div id="alert">
            <app-loading></app-loading>
            <app-alerts></app-alerts>
        </div>
</header>