.menu-bar{
    position: fixed;
    height: 100%;
    width: 90%;
    max-width: 320px;
    margin: 0;
    padding: 1em;
    background-color: white;
    border-right: 1px solid rgba(0,0,0,.2);
    top: 0;
    left: -90%;
}
i 
{
    cursor: pointer;
}
.active-menu .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    z-index: 0;
    cursor: default;
}
.active-menu .menu-bar{
    left: 0;
    z-index: 9;
}
a{
    font-family: Verdana, Tahoma, sans-serif;
    color: black;
    font-weight: bolder;
    padding: 15px;
    display: block;
    text-decoration: none;
    transition: .3s;
    
}
a:hover
{
    font-size: 22px;
}
div#reg
{
    padding-top: 40px;
}