div#main
{
    width: 95%;
}
div#photo
{
    margin: 40px;
    margin-top: 0px;
}
button
{
    margin: 5px;
}
.break-word
{
    word-break: break-all;
}
small#com
{
    font-size: 10px;
    color: rgba(0,0,0,.4);
}
i#trash
{
    transition: .2s;
}
i#trash:hover
{
    cursor: pointer;
    color: red;
}
i#like
{
    font-size: 20px;
    margin-right: 20px;
    color: rgb(219, 7, 7); 
}
div#sure
{
    background-color: #F9F9F9;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    padding: 30px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 35%;
    margin: auto;
    display: none;
}
ul
{
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0;
}
ul li
{
    display: inline;
}
p#action
{
    text-align: center;
}