textarea
{
    width: 200%;
}
div#main
{
    width: 95%;
}
div#photo
{
    margin: 40px;
    margin-top: 0px;
}
button
{
    margin: 5px;
}
.break-word
{
    word-break: break-all;
}
li em
{
    font-size: 10px;
}
li
{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
div#comments
{
    padding : 4px; 
    padding-top: 0;
    height: 300px;
    width: 600px;
    overflow : auto;
}
div#all
{
    margin: 50px;
}