<div id="all">
    <h4>Login</h4>

    <form #form ="ngForm" [formGroup]="loginForm" (submit)="login()">  <!--com parenteses, é event binding-->

        <div>  <!--Esse formcontrolName vem do angular, é pra ligar isso com o component ts -->
            <input #userNameInput
                formControlName="userName" 
                class="form-control" 
                placeholder="Username" 
                autofocus> <!--esse usernameinput é uma variável, assim que vou me referir ao username-->
            <ap-vmessage 
                *ngIf="loginForm.get('userName').errors?.required && loginForm.get('userName').touched" 
                text="User name is required!">
            </ap-vmessage> <!--caso tenha um erro no get username, ele vai jogar aquele texto-->
        </div>

        <div>  <!--Esse formControlName vem do angular, é pra ligar isso com o component ts -->
            <input
                formControlName="password" 
                type="password" 
                class="form-control" 
                placeholder="Password">
            <ap-vmessage
                *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched" 
                text="Password is required!">
            </ap-vmessage> 
            <!--ele vai vir se o password está com erro no required, caso sim, esse if vai ser true e vai trazer o text-->
        </div>

        <button 
            [disabled]="loginForm.invalid"  
            type="submit" 
            class="btn btn-primary btn-block">
            Login
        </button> <!--esse dissbled vai fazer o botão ficar desligado enquanto os campos são inválidos-->

        <p>Not a user?<a href="javascript:void(0)" (click)="redirect()" > Register now</a></p>

    </form>
</div>